.categoryItem .header:before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 50%;
  width: 100%;
  border-bottom: 2px solid hsla(0, 0%, 100%, 0.58039);
}
.menuHeader {
  position: fixed;
  top: 0;
  z-index: 900;
  background-color: #8b0505;
}
.allCategories {
  background-color: hsl(0deg 0% 100% / 12.16%);
}
.foodImg {
  background-image: url("../public/pics/food.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-clip: content-box;
}

.foodRecipe:after {
  background: linear-gradient(#2e2e2e00, #2e2e2e) !important;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}
.active:after {
  background: linear-gradient(
    180deg,
    #8b050500,
    #8b0505e6 59%,
    #8b0505f2 72%,
    #8b0505 82%,
    #8b0505 90%,
    #8b0505
  ) !important;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
